* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-image: url("../img/wallpaper.jpg");
  background-size: cover; /* untuk menutupi seluruh area kontainer */
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
}

.launch-time {
  display: flex;
}
.launch-time div {
  flex-basis: 100px;
}
.launch-time div p {
  font-size: 60px;
  margin-bottom: -14px;
}
